/*  your css code here. If applicable */
div.container{
/*                  background-color: lightblue; */
                 display: flex;
                 justify-content: center;
                 align-items: center;
                 width: 200px;
                 height: 200px;
                 margin: auto;
/*                  border-radius: 50%; */
             }
             #line{
				 position: absolute;
                 background-color: black;
                 width: 200px;
                 height: 2px;
                 animation: rotateLine 3s linear infinite;
             }
             
             @keyframes rotateLine{
                 from{
                     transform: rotate(0deg);
                 }
                 to{
                     transform: rotate(360deg);
                 }
             }